
h1 {
    font-family: Arial, sans-serif;
    color: navy;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.bus-catering-naranja {
    color: #f58634;
    font-size: 0.75em;
}

.foto-1 {
    height: 600, 300;
}
