


.card {

    padding: 3%;
    max-width: 330 px;

    border: medium solid $color-2brand;
    border-radius: 5%;

    &__title {
        text-align: center;
      
    }

    &__body {
       

    }

    &__list {

        padding: 0;
    }

    &__item {
        align-content: center;
        justify-content: center;
    }

    &__img {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
    }

}